IMPORT LIBRARIES

In [3]:
import pandas as pd
import numpy as np

READ DATASET IN TABLULAR FORM - PANDAS DATAFTAME

In [4]:
df_matches = pd.read_csv('matches.csv')
df_matches

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon

In [5]:
df_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1095 non-null   int64
 1   season           1095 non-null   object
 2   city             1044 non-null   object
 3   date             1095 non-null   object
 4   match_type       1095 non-null   object
 5   player_of_match  1090 non-null   object
 6   venue            1095 non-null   object
 7   team1            1095 non-null   object
 8   team2            1095 non-null   object
 9   toss_winner      1095 non-null   object
 10  toss_decision    1095 non-null   object
 11  winner           1090 non-null   object
 12  result           1095 non-null   object
 13  result_margin    1076 non-null   float64
 14  target_runs      1092 non-null   float64
 15  target_overs     1092 non-null   float64
 16  super_over       1095 non-null   object
 17  method           21 non-null     object
 18  umpire1          1095 non-null   object
 19  umpire2          1095 non-null   object
dtypes: float64(3), int64(1), object(16)
memory usage: 171.2+ KB

In [6]:
df_matches.describe(include='object').T

                count unique                          top  freq
season           1095     17                         2013    76
city             1044     36                       Mumbai   173
date             1095    823                   2008-04-26     2
match_type       1095      8                       League  1029
player_of_match  1090    291               AB de Villiers    25
venue            1095     58                 Eden Gardens    77
team1            1095     19  Royal Challengers Bangalore   135
team2            1095     19               Mumbai Indians   138
toss_winner      1095     19               Mumbai Indians   143
toss_decision    1095      2                        field   704
winner           1090     19               Mumbai Indians   144
result           1095      4                      wickets   578
super_over       1095      2                            N  1081
method             21      1                          D/L    21
umpire1          1095     62                 AK Chaudhary   115
umpire2          1095     62                       S Ravi    83

In [7]:
df_matches['method'].value_counts()

method
D/L    21
Name: count, dtype: int64

In [8]:
df_deliveries = pd.read_csv('deliveries.csv')
df_deliveries

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [9]:
df_deliveries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          260920 non-null  int64
 1   inning            260920 non-null  int64
 2   batting_team      260920 non-null  object
 3   bowling_team      260920 non-null  object
 4   over              260920 non-null  int64
 5   ball              260920 non-null  int64
 6   batter            260920 non-null  object
 7   bowler            260920 non-null  object
 8   non_striker       260920 non-null  object
 9   batsman_runs      260920 non-null  int64
 10  extra_runs        260920 non-null  int64
 11  total_runs        260920 non-null  int64
 12  extras_type       14125 non-null   object
 13  is_wicket         260920 non-null  int64
 14  player_dismissed  12950 non-null   object
 15  dismissal_kind    12950 non-null   object
 16  fielder           9354 non-null    object
dtypes: int64(8), object(9)
memory usage: 33.8+ MB

In [10]:
df_deliveries.describe(include='object').T

                   count unique             top   freq
batting_team      260920     19  Mumbai Indians  31437
bowling_team      260920     19  Mumbai Indians  31505
batter            260920    673         V Kohli   6236
bowler            260920    530        R Ashwin   4679
non_striker       260920    663         V Kohli   6067
extras_type        14125      5           wides   8380
player_dismissed   12950    629       RG Sharma    223
dismissal_kind     12950     10          caught   8063
fielder             9354    607        MS Dhoni    220

In [11]:
df_deliveries.groupby(['match_id','inning']).sum()['total_runs'] # group by match and inning to get total runs per inning per match

match_id  inning
335982    1         222
          2          82
335983    1         240
          2         207
335984    1         129
                   ...
1426310   2         174
1426311   1         175
          2         139
1426312   1         113
          2         114
Name: total_runs, Length: 2217, dtype: int64

In [12]:
df_total_score = df_deliveries.groupby(['match_id','inning']).sum()['total_runs'].reset_index() #sum of total runs per inning per match 
df_total_score

      match_id  inning  total_runs
0       335982       1         222
1       335982       2          82
2       335983       1         240
3       335983       2         207
4       335984       1         129
...        ...     ...         ...
2212   1426310       2         174
2213   1426311       1         175
2214   1426311       2         139
2215   1426312       1         113
2216   1426312       2         114

[2217 rows x 3 columns]

In [13]:
# +1 to sum to get target score
df_total_score['total_runs'] = df_total_score['total_runs'] + 1

In [14]:
df_total_score

      match_id  inning  total_runs
0       335982       1         223
1       335982       2          83
2       335983       1         241
3       335983       2         208
4       335984       1         130
...        ...     ...         ...
2212   1426310       2         175
2213   1426311       1         176
2214   1426311       2         140
2215   1426312       1         114
2216   1426312       2         115

[2217 rows x 3 columns]

# FILTER THE DATA TO GET DATA OF 1ST INNINGS

In [15]:
df_total_score[df_total_score['inning']==1 ]

      match_id  inning  total_runs
0       335982       1         223
2       335983       1         241
4       335984       1         130
6       335985       1         166
8       335986       1         111
...        ...     ...         ...
2207   1426307       1         215
2209   1426309       1         160
2211   1426310       1         173
2213   1426311       1         176
2215   1426312       1         114

[1095 rows x 3 columns]

In [16]:
df_total_score = df_total_score[df_total_score['inning']==1 ]

# MERGE NEW DATA FRAME WITH MATCHES DATA FRAME

In [18]:
df_matches.merge(
                df_total_score[['match_id','total_runs']],
                left_on='id', 
                right_on='match_id', 
                indicator=True
                )

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,total_runs,_merge
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,223,both
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,...,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,241,both
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,...,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,335984,130,both
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,...,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,335985,166,both
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,...,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,335986,111,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,...,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426307,215,both
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit,1426309,160,both
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,...,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar,1426310,173,both
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,...,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426311,176,both
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon,1426312,114,both

In [20]:
df_MatchesNew = df_matches.merge(
                df_total_score[['match_id','total_runs']],
                left_on='id', 
                right_on='match_id', 
                indicator=True
                )

# Check IPL Teams (Activness and Non Activeness)

In [21]:
df_MatchesNew['team1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [22]:
# Current active teams
teams = [
    'Sunrisers Hyderabad',
    'Royal Challengers Bangalore',
    'Kings XI Punjab',
    'Mumbai Indians',
    'Kolkata Knight Riders',
    'Rajasthan Royals',
    'Delhi Capitals',
    'Chennai Super Kings'
    ]

In [23]:
teams

['Sunrisers Hyderabad',
 'Royal Challengers Bangalore',
 'Kings XI Punjab',
 'Mumbai Indians',
 'Kolkata Knight Riders',
 'Rajasthan Royals',
 'Delhi Capitals',
 'Chennai Super Kings']

# FIX TEAM'S NAMES

In [24]:
df_MatchesNew['team1'] = df_MatchesNew['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
df_MatchesNew['team2'] = df_MatchesNew['team2'].str.replace('Delhi Daredevils','Delhi Capitals')

df_MatchesNew['team1'] = df_MatchesNew['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
df_MatchesNew['team2'] = df_MatchesNew['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [25]:
df_MatchesNew = df_MatchesNew[df_MatchesNew['team1'].isin(teams)]

In [26]:
df_MatchesNew = df_MatchesNew[df_MatchesNew['team2'].isin(teams)]

In [27]:
df_MatchesNew

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,total_runs,_merge
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,223,both
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,...,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,241,both
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,...,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,335984,130,both
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,...,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,335985,166,both
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Sunrisers Hyderabad,Deccan Chargers,...,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,335986,111,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1083,1426298,2024,Kolkata,2024-05-11,League,CV Varun,"Eden Gardens, Kolkata",Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,...,18.0,158.0,16.0,N,NaN,UV Gandhe,Vinod Seshan,1426298,158,both
1084,1426299,2024,Chennai,2024-05-12,League,Simarjeet Singh,"MA Chidambaram Stadium, Chepauk, Chennai",Rajasthan Royals,Chennai Super Kings,Rajasthan Royals,...,5.0,142.0,20.0,N,NaN,R Pandit,YC Barde,1426299,142,both
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit,1426309,160,both
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,...,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426311,176,both
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon,1426312,114,both

# OMIT IRRELEVANT COLUMNS FROM DATASET

In [28]:
df_MatchesNew =  df_MatchesNew[['match_id','city','winner','total_runs']]

In [29]:
df_MatchesNew

      match_id        city                       winner  total_runs
0       335982   Bangalore        Kolkata Knight Riders         223
1       335983  Chandigarh          Chennai Super Kings         241
2       335984       Delhi             Delhi Daredevils         130
3       335985      Mumbai  Royal Challengers Bangalore         166
4       335986     Kolkata        Kolkata Knight Riders         111
...        ...         ...                          ...         ...
1083   1426298     Kolkata        Kolkata Knight Riders         158
1084   1426299     Chennai          Chennai Super Kings         142
1091   1426309   Ahmedabad        Kolkata Knight Riders         160
1093   1426311     Chennai          Sunrisers Hyderabad         176
1094   1426312     Chennai        Kolkata Knight Riders         114

[839 rows x 4 columns]

# MEREG DELIVERY DATASET / DATAFDRAME WITH NEW DATASET

In [30]:
df_MatchesNew.merge(df_deliveries,on='match_id')

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,Bangalore,Kolkata Knight Riders,223,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,Bangalore,Kolkata Knight Riders,223,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,Bangalore,Kolkata Knight Riders,223,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,Bangalore,Kolkata Knight Riders,223,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,Bangalore,Kolkata Knight Riders,223,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199873,1426312,Chennai,Kolkata Knight Riders,114,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
199874,1426312,Chennai,Kolkata Knight Riders,114,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
199875,1426312,Chennai,Kolkata Knight Riders,114,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
199876,1426312,Chennai,Kolkata Knight Riders,114,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
199877,1426312,Chennai,Kolkata Knight Riders,114,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [31]:
df_deliveries_new = df_MatchesNew.merge(df_deliveries,on='match_id')

In [32]:
df_deliveries_new = df_deliveries_new[df_deliveries_new['inning']==2 ]

In [33]:
rows, columns = df_deliveries_new.shape
print(f'The dataset has {rows} rows and {columns} columns.')

The dataset has 96385 rows and 20 columns.

# Group by

In [34]:
df_deliveries_new['total_runs_y'] = pd.to_numeric(df_deliveries_new['total_runs_y'], errors='coerce')

In [35]:
df_deliveries_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96385 entries, 124 to 199877
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          96385 non-null  int64
 1   city              90373 non-null  object
 2   winner            96358 non-null  object
 3   total_runs_x      96385 non-null  int64
 4   inning            96385 non-null  int64
 5   batting_team      96385 non-null  object
 6   bowling_team      96385 non-null  object
 7   over              96385 non-null  int64
 8   ball              96385 non-null  int64
 9   batter            96385 non-null  object
 10  bowler            96385 non-null  object
 11  non_striker       96385 non-null  object
 12  batsman_runs      96385 non-null  int64
 13  extra_runs        96385 non-null  int64
 14  total_runs_y      96385 non-null  int64
 15  extras_type       5134 non-null   object
 16  is_wicket         96385 non-null  int64
 17  player_dismissed  4764 non-null   object
 18  dismissal_kind    4764 non-null   object
 19  fielder           3372 non-null   object
dtypes: int64(9), object(11)
memory usage: 15.4+ MB

In [36]:
# compute per-match cumulative runs (select the numeric column before cumsum)
df_deliveries_new['cumulative_runs'] = df_deliveries_new.groupby('match_id')['total_runs_y'].cumsum()

In [37]:
# replace NaNs (if any) and cast to int for convenience
df_deliveries_new['cumulative_runs'] = df_deliveries_new['cumulative_runs'].fillna(0).astype(int)
df_deliveries_new

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,cumulative_runs
124,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN,1
125,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,R Dravid,0,1,1,wides,0,NaN,NaN,NaN,2
126,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN,2
127,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,R Dravid,1,0,1,NaN,0,NaN,NaN,NaN,3
128,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199873,1426312,Chennai,Kolkata Knight Riders,114,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,...,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN,110
199874,1426312,Chennai,Kolkata Knight Riders,114,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,...,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN,111
199875,1426312,Chennai,Kolkata Knight Riders,114,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,...,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN,112
199876,1426312,Chennai,Kolkata Knight Riders,114,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,...,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN,113
199877,1426312,Chennai,Kolkata Knight Riders,114,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,...,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN,114

In [38]:
df_deliveries_new['runs_left'] = df_deliveries_new['total_runs_x'] - df_deliveries_new['cumulative_runs']
# df_deliveries_new runs left is total runs in inning 1 - cumulative runs in inning 2

In [39]:
df_deliveries_new

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,cumulative_runs,runs_left
124,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,1,0,1,NaN,0,NaN,NaN,NaN,1,222
125,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,0,1,1,wides,0,NaN,NaN,NaN,2,221
126,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,0,0,0,NaN,0,NaN,NaN,NaN,2,221
127,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,1,0,1,NaN,0,NaN,NaN,NaN,3,220
128,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,1,0,1,NaN,0,NaN,NaN,NaN,4,219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199873,1426312,Chennai,Kolkata Knight Riders,114,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,...,1,0,1,NaN,0,NaN,NaN,NaN,110,4
199874,1426312,Chennai,Kolkata Knight Riders,114,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,...,1,0,1,NaN,0,NaN,NaN,NaN,111,3
199875,1426312,Chennai,Kolkata Knight Riders,114,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,...,1,0,1,NaN,0,NaN,NaN,NaN,112,2
199876,1426312,Chennai,Kolkata Knight Riders,114,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,...,1,0,1,NaN,0,NaN,NaN,NaN,113,1
199877,1426312,Chennai,Kolkata Knight Riders,114,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,...,1,0,1,NaN,0,NaN,NaN,NaN,114,0

In [40]:
df_deliveries_new['balls_left'] = 126 - (df_deliveries_new['over']*6 + df_deliveries_new['ball'])

# Find Wickets

In [41]:
# compute wickets remaining per delivery using df_deliveries_new
# create a binary indicator (1 if a player was dismissed on that delivery, else 0)
df_deliveries_new['player_dismissed_ind'] = df_deliveries_new['player_dismissed'].notna().astype(int)

# cumulative wickets taken per match
df_deliveries_new['wickets_taken'] = df_deliveries_new.groupby('match_id')['player_dismissed_ind'].cumsum()

# wickets remaining (assuming 10 wickets per innings)
df_deliveries_new['wickets_left'] = 10 - df_deliveries_new['wickets_taken']

In [42]:
# show relevant columns for verification
df_deliveries_new[['player_dismissed','player_dismissed_ind','wickets_taken','wickets_left']].tail(20)

          player_dismissed  player_dismissed_ind  wickets_taken  wickets_left
199858                 NaN                     0              1             9
199859                 NaN                     0              1             9
199860                 NaN                     0              1             9
199861                 NaN                     0              1             9
199862                 NaN                     0              1             9
199863                 NaN                     0              1             9
199864                 NaN                     0              1             9
199865                 NaN                     0              1             9
199866                 NaN                     0              1             9
199867  Rahmanullah Gurbaz                     1              2             8
199868                 NaN                     0              2             8
199869                 NaN                     0              2             8
199870                 NaN                     0              2             8
199871                 NaN                     0              2             8
199872                 NaN                     0              2             8
199873                 NaN                     0              2             8
199874                 NaN                     0              2             8
199875                 NaN                     0              2             8
199876                 NaN                     0              2             8
199877                 NaN                     0              2             8

# Finding Current Runrate

In [43]:
# crr = runs/overs
(df_deliveries_new['cumulative_runs']*6) / (df_deliveries_new['over']*6 + df_deliveries_new['balls_left'])

124       0.048000
125       0.096774
126       0.097561
127       0.147541
128       0.198347
            ...
199873    5.454545
199874    5.550000
199875    5.376000
199876    5.467742
199877    5.560976
Length: 96385, dtype: float64

In [44]:
df_deliveries_new['current_runrate'] = (df_deliveries_new['cumulative_runs']*6) / (df_deliveries_new['over']*6 + df_deliveries_new['balls_left'])

In [ ]:
# Finding Required Run Rate (rrr)

In [45]:
# rrr = runs/overs (required run rate)
(df_deliveries_new['runs_left']*6)/df_deliveries_new['balls_left']

124       10.656000
125       10.693548
126       10.780488
127       10.819672
128       10.859504
            ...
199873     0.358209
199874     0.272727
199875     0.184615
199876     0.093750
199877     0.000000
Length: 96385, dtype: float64

In [46]:
df_deliveries_new['required_runrate'] = (df_deliveries_new['runs_left']*6)/df_deliveries_new['balls_left']

# RESULT

In [47]:
def result(row):
    return 1 if row['batting_team'] == row['winner'] else 0

In [48]:
df_deliveries_new.apply(result, axis=1)

124       0
125       0
126       0
127       0
128       0
         ..
199873    1
199874    1
199875    1
199876    1
199877    1
Length: 96385, dtype: int64

In [49]:
df_deliveries_new['result'] = df_deliveries_new.apply(result, axis=1)

In [50]:
df_deliveries_new[['batting_team','bowling_team', 'city','runs_left','balls_left','wickets_left','total_runs_x','current_runrate','required_runrate','result']]

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,current_runrate,required_runrate,result
124,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,222,125,10,223,0.048000,10.656000,0
125,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221,124,10,223,0.096774,10.693548,0
126,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221,123,10,223,0.097561,10.780488,0
127,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,220,122,10,223,0.147541,10.819672,0
128,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,121,10,223,0.198347,10.859504,0
...,...,...,...,...,...,...,...,...,...,...
199873,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,4,67,8,114,5.454545,0.358209,1
199874,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,3,66,8,114,5.550000,0.272727,1
199875,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,2,65,8,114,5.376000,0.184615,1
199876,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,1,64,8,114,5.467742,0.093750,1
199877,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,0,63,8,114,5.560976,0.000000,1

In [51]:
df_final = df_deliveries_new[['batting_team','bowling_team', 'city','runs_left','balls_left','wickets_left','total_runs_x','current_runrate','required_runrate','result']]

In [52]:
df_final.sample(df_final.shape[0])

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,current_runrate,required_runrate,result
160419,Royal Challengers Bangalore,Rajasthan Royals,NaN,17,15,7,178,7.853659,6.800000,1
31850,Mumbai Indians,Chennai Super Kings,Mumbai,158,109,10,181,1.140496,8.697248,1
150025,Kolkata Knight Riders,Kings XI Punjab,Chandigarh,181,119,10,184,0.144000,9.126050,1
18518,Kings XI Punjab,Royal Challengers Bangalore,Durban,125,101,10,146,1.008000,7.425743,0
38510,Delhi Daredevils,Mumbai Indians,Mumbai,71,30,4,184,5.650000,14.200000,0
...,...,...,...,...,...,...,...,...,...,...
32188,Royal Challengers Bangalore,Delhi Daredevils,Bangalore,47,22,2,184,6.629032,12.818182,0
136487,Mumbai Indians,Delhi Daredevils,Delhi,24,21,3,175,7.365854,6.857143,0
132678,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,42,33,5,147,5.121951,7.636364,0
27281,Deccan Chargers,Kolkata Knight Riders,Mumbai,84,71,9,162,3.744000,7.098592,0
129314,Kings XI Punjab,Sunrisers Hyderabad,Hyderabad,54,49,7,133,3.917355,6.612245,0

In [56]:
df_final=df_final.sample(df_final.shape[0])

In [57]:
df_final.sample(5)

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,current_runrate,required_runrate,result
151029,Mumbai Indians,Kolkata Knight Riders,Mumbai,48,62,9,134,4.229508,4.645161,1
86588,Kolkata Knight Riders,Rajasthan Royals,Ahmedabad,76,58,10,171,4.596774,7.862069,0
96657,Mumbai Indians,Kings XI Punjab,Mumbai,151,72,6,178,1.350000,12.583333,0
73595,Kolkata Knight Riders,Chennai Super Kings,Chennai,101,51,7,201,4.878049,11.882353,0
99778,Royal Challengers Bangalore,Chennai Super Kings,Bangalore,121,78,8,182,3.050000,9.307692,0

In [59]:
df_final.isnull().sum()

batting_team           0
bowling_team           0
city                6012
runs_left              0
balls_left             0
wickets_left           0
total_runs_x           0
current_runrate        0
required_runrate       0
result                 0
dtype: int64

In [61]:
df_final.dropna(inplace=True)

In [63]:
df_final.shape

(90373, 10)

# SPLIT TRAINING AND TEST DATA

In [64]:
from sklearn.model_selection import train_test_split

In [65]:
X = df_final.iloc[:,:-1] # all columns except the last one and is features as X
y = df_final.iloc[:,-1] # last column and is target variable as y

In [66]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2, random_state=1)

In [67]:
X_train

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,current_runrate,required_runrate
150816,Kings XI Punjab,Chennai Super Kings,Chandigarh,22,37,7,171,7.388430,3.567568
170183,Sunrisers Hyderabad,Delhi Capitals,Chennai,150,113,10,160,0.480000,7.964602
124623,Chennai Super Kings,Kolkata Knight Riders,Chennai,34,21,6,203,8.243902,9.714286
148276,Chennai Super Kings,Mumbai Indians,Chennai,151,124,10,156,0.241935,7.306452
70742,Delhi Daredevils,Chennai Super Kings,Delhi,108,62,5,170,3.049180,10.451613
...,...,...,...,...,...,...,...,...,...
131405,Mumbai Indians,Kings XI Punjab,Indore,139,101,10,175,1.728000,8.257426
6975,Rajasthan Royals,Deccan Chargers,Jaipur,91,90,10,141,2.500000,6.066667
75937,Rajasthan Royals,Delhi Daredevils,Jaipur,76,64,10,155,3.822581,7.125000
86317,Royal Challengers Bangalore,Sunrisers Hyderabad,Bangalore,118,84,7,156,1.900000,8.428571
74293,Sunrisers Hyderabad,Mumbai Indians,Hyderabad,106,98,9,130,1.180328,6.489796

# APPLY ONE HOT ENCODING FOR CATEGORICAL / STRING COLUMNS

In [68]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [69]:
trf = ColumnTransformer(
    [
        ('trf', OneHotEncoder(sparse_output=False, drop='first'), ['batting_team','bowling_team','city'])
    ],
    remainder='passthrough'
)

In [ ]:
# Model train using LogisticRegression

In [70]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [75]:
pipe = Pipeline(steps=[
    ('step1', trf),
    ('step2', LogisticRegression(solver='liblinear'))
])

In [165]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [167]:
y_pred = pipe.predict(X_test)

In [168]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8102401826010271

In [ ]:
pipe.predict_proba(X_test)[10]

# Model TRAIN USING SVC

In [179]:
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline
# use the existing transformer `trf` to encode categorical columns before SVC
pipe_svc = Pipeline([('trf', trf), ('svc', SVC())])
pipe_svc.fit(X_train, y_train)
pipe_svc.score(X_test, y_test)

0.7860662966229185

In [181]:
pipe_svc.predict(X_test)[10]

np.int64(0)

# Model TRAIN USING DecisionTreeClassifier

In [ ]:
from sklearn.tree import DecisionTreeClassifier
# pipeline with transformer to encode categorical features

pipe_dt = Pipeline([('trf', trf), ('dt', DecisionTreeClassifier())])
pipe_dt.fit(X_train, y_train)
pipe_dt.score(X_test, y_test)

0.9898324428074908

0.9902474451418789

In [177]:
pipe_dt.predict_proba(X_test)[10]

array([0., 1.])

# Model TRAIN USING RandomForestClassifier

In [71]:
from sklearn.ensemble import RandomForestClassifier
# pipeline with transformer to encode categorical features
pipe_rf = Pipeline([('trf', trf), ('rf', RandomForestClassifier(n_estimators=250))])
pipe_rf.fit(X_train, y_train)
pipe_rf.score(X_test, y_test)

0.9989488243430152

In [76]:
pipe_rf.predict_proba(X_test)[10]

array([1., 0.])

In [72]:
teams

['Sunrisers Hyderabad',
 'Royal Challengers Bangalore',
 'Kings XI Punjab',
 'Mumbai Indians',
 'Kolkata Knight Riders',
 'Rajasthan Royals',
 'Delhi Capitals',
 'Chennai Super Kings']

In [73]:
# 'city' comes from the matches merge — use df_deliveries_new

df_deliveries_new['city'].unique()

array(['Bangalore', 'Chandigarh', 'Delhi', 'Mumbai', 'Kolkata', 'Jaipur',
       'Hyderabad', 'Chennai', 'Cape Town', 'Port Elizabeth', 'Durban',
       'Centurion', 'East London', 'Johannesburg', 'Kimberley',
       'Bloemfontein', 'Ahmedabad', 'Cuttack', 'Nagpur', 'Dharamsala',
       'Visakhapatnam', 'Pune', 'Raipur', 'Ranchi', 'Abu Dhabi', nan,
       'Bengaluru', 'Indore', 'Dubai', 'Sharjah', 'Navi Mumbai',
       'Guwahati'], dtype=object)

In [ ]:
import pickle
pickle.dump(pipe_rf,open('ipl_model.pkl', 'wb'))